.accordion_list
	.list_item
		padding 30px 50px
		border-bottom 1px solid dark-slate-blue
		+below(480px)
			padding 30px 0
		&:nth-child(odd)
			background #fcfcfc
		.accordion_title
		.accordion_txt
			font-size 30px
			letter-spacing -0.42px
			color dark-slate-blue
		.accordion_title
			font-weight bold
			margin-bottom 25px
			position relative
		.accordion_txt 
			&+.accordion_txt
				margin-top 20px

			+below(480px)
				font-size 26px
				cursor pointer
				padding-right 50px

			.chevron
				position absolute
				right 10px
				top 0
				display none
				// +below(1024px)
				// 	display block
				&:before
					content ''
					transform-origin 12px 6px
					border-style solid
					border-width 2px 2px 0 0
					display inline-block
					width 16px
					height 16px
					left 0
					top 13px
					position relative
					transition transform .35s ease
				&.top
					&:before
						transform rotate(-45deg)
						vertical-align top
					&-open
						&:before
							transform rotate(135deg);
				

		.accordion_txt
			font-weight 200
			line-height normal
			+below(480px)
				font-size 18px
				font-weight 300
		