.btn
	width 100%
	max-width 270px
	cursor pointer
	border none
	appearance none
	font-size 30px
	font-weight bold
	font-stretch normal
	font-style normal
	line-height normal
	letter-spacing -0.72px
	border-radius 4px
	&:focus
	&:active
		outline none
	&_flat-round
		&-green
			height 72px
			border-radius 36px
			color white
			background-color grass
			
			+below(480px)
				stack()
				max-width 100%
	
	&_flat
		&-green
			height 56px
			color white
			font-size 26px
			background-color grass
			
			+below(480px)
				stack()
				max-width 100%
	&_disabled
		background-color brown-grey
		opacity .5
		pointer-events none
