.footer
	clearfix()
	height footerHeight
	width 100%
	background dark-grey-blue
	color white
	text-align center
	padding 80px 30px 0
	box-sizing border-box
	+below(800px)
		height footerHeightTablet
	+below(480px)
		padding 50px 30px 0
		height footerHeightMobile
	+below(375px)
		padding 50px 30px 0
		height footerHeightMobileSmall
	&_options
		clearfix()
		max-width 1180px
		margin 0 auto
		.options
			&_col
				clearfix()
				column(1/4)
				color white
				text-align left
				+below(480px)
					stack()
				>.link
					display block
				.logo
					float: left
					width 100%
					max-width 146px
					margin-bottom: 24px
					+above(376px)
						float none
					.path_1
						fill white
					.path_2
						fill white
					.path_3
						fill white
				.buro
					float: right	
					width: 100%
					max-width 66px
					+above(376px)
						float none
				.list_item
					margin-bottom 24px
					.link
						color white
						text-decoration none
						width 79px
						font-size 19.2px
						font-weight normal
						line-height 1.5
						letter-spacing normal
						transition all .25s ease
						&:hover
							color grass
							letter-spacing .5px
				.title
					margin-bottom 24px
				.col_social
					.social_list
						.list_item
							display inline-block
							vertical-align middle
							margin-right 10px
	&_bottom
		clearfix()
		color white
		text-align center
		height 90px
		position relative
		.txt
			align()
			width 100%
			font-size 16px
			font-weight normal
			line-height normal
			letter-spacing 0.8px
			text-align center
			color bluish-grey