.nav_bar
	display none
	position fixed
	z-index 2000
	box-shadow 0 2px 8px 0 rgba(0, 0, 0, 0.06)
	+below(800px)
		display block
		width 100%
		padding 20px
		background white
		text-decoration none
		font-weight  bold
		font-size 25px
		box-sizing border-box
	span
		+below(800px)
			float right
			font-size 40px

.nav 
	position fixed
	width 100%
	top 0
	left 0
	z-index 3
	background white
	color dark-navy
	box-shadow 0 2px 8px 0 rgba(0, 0, 0, 0.06)
	+below(800px)
		opacity 0
		width 100%
		height 100%
		top -10%
		margin 0
		pointer-events none
		position fixed
		padding-top 82px
		z-index 2
		background dark-slate-blue
		color white
		transition all .3s ease
		&:before	
			content ""
			width 100%
			background-image url("../img/nav-bg.svg")
			position absolute
			left 0
			bottom -15%
			height 100%
			background-repeat no-repeat
			pointer-events none
			z-index -1
		
	&_list
		overflow hidden
		list-style none
		width 90%
		max-width 1180px
		margin 0 auto
		align-items center
		display flex
		justify-content flex-start
		+below(800px)
			stack()
			width 100%
			max-width 90%

		.logo
			width 100%
			max-width 290px
		
		.list_item
			+below(800px)
				border-bottom 1px solid white
			&:first-child
				+below(800px)
					display none
			&+.list_item
				margin-left 60px
				+below(800px)
					margin-left 0
			+below(800px)
				border-bottoms 1px solid rgba(255,255,255, .3)

			.link
				text-decoration none
				font-weight 300
				color dark-navy
				display block
				box-sizing border-box
				padding 50px 0
				transition color .15s ease
				&:hover
					color grass
				+below(800px)
					color white
					font-size 36px
					font-weight 300
			.selected
				font-weight 600 
				+below(800px)
					color grass
				&:hover
					color dark-navy


			span
				margin-right 10px

.nav-movile
	.nav_bar
		background dark-slate-blue
		.logo
			.path_1
			.path_2
			.path_3
				fill rgba(white, .69)
	.nav
		opacity 1
		top 0
		pointer-events all

.nav-icon
	width: 40px
	height: 24px
	position: relative
	margin: 0px auto
	transform: rotate(0deg)
	transition: .5s ease-in-out
	cursor: pointer

.nav-icon span
	display: block
	position: absolute
	height: 4px
	width: 100%
	background: grass
	opacity: 1
	left: 0
	transform: rotate(0deg)
	transition: .25s ease-in-out

.nav-icon span:nth-child(1)
	top: 5px

.nav-icon span:nth-child(2),.nav-icon span:nth-child(3)
	top: 18px

.nav-icon span:nth-child(4)
	top: 31px

.nav-icon.open span:nth-child(1)
	top: 18px
	width: 0%
	left: 50%

.nav-icon.open span:nth-child(2)
	transform: rotate(45deg)

.nav-icon.open span:nth-child(3)
	transform: rotate(-45deg)

.nav-icon.open span:nth-child(4)
	top: 18px
	width: 0%
	left: 50%
