::placeholder
	color brown-grey-two
	font-family "Roboto", sans-serif

.select2-container--default
	.select2-selection--single
		.select2-selection__placeholder
			color brown-grey-two
			opacity .5
			
::-webkit-input-placeholder
	color: brown-grey-two;
	opacity .5
::-moz-placeholder
	color: brown-grey-two;
	opacity .5
:-ms-input-placeholder
	color: brown-grey-two;
	opacity .5
:-moz-placeholder
	color: brown-grey-two;
	opacity .5

input:-webkit-autofill
input:-webkit-autofill:hover 
input:-webkit-autofill:focus
textarea:-webkit-autofill
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus
select:-webkit-autofill
select:-webkit-autofill:hover
select:-webkit-autofill:focus
	border solid 0.8px rgba(151, 151, 151, 0.21)
	-webkit-text-fill-color inherit
	-webkit-box-shadow 0 0 0px 1000px white-two inset
	transition background-color 5000s ease-in-out 0s

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
	-webkit-appearance none
	margin 0

input[type=number]
	-moz-appearance textfield

.form_input-solid
	width 31%
	appearance none
	height 68px
	box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.12)
	border-radius 0
	border solid 0.8px rgba(151, 151, 151, 0.21)
	background-color white-two
	font-size 24px
	font-weight 300
	font-family inherit
	padding 18px
	box-sizing border-box
	margin-bottom 20px
	color dark-slate-blue
	&:focus
		outline none
	+below(512px)
		stack()
	&+.form_input-solid
		margin-left 2%
		+below(760px)
			margin-left 0