.list-green
	.list_item
		position relative
		&:before
			content ""
			width 10px
			height 10px
			display block
			position absolute
			border-radius 50%
			left -20px
			top 8px
			background #40af28