.msg_form
		visibility hidden
		position relative
		left 50%
		bottom 0
		height 100%
		min-height 45px
		margin-bottom 20px
		transform translate(-50%, 0)
		width 100%
		text-align center
		color #40af28
		display block
		opacity 0
		font-size 21px
		background rgba(grass, .15)
		border-radius 30px
		padding 10px
		box-sizing border-box
		max-width 380px
		transition all .3s ease
		&.show
			opacity 1
			visibility visible