.select
	width 100%
	font-size 24px

.select_msg
	font-weight 200
	color dark-slate-blue
	width: 100%
	font-weight 200
	color #113b47
	position absolute
	background white
	padding 10px
	box-shadow 0 2px 10px rgba(0,0,0,.1)
	border-radius 10px
	bottom -110%
	left 0
	.green
		color grass
	.bold
		font-weight 400
	p+p
		margin-top 10px

// SELECT2 CUSTOM CONFIG

.select2-dropdown
	border none
	background #F9F9F9
	border 0 solid rgba(151,151,151,0.21)
	box-shadow 0 2px 4px 0 rgba(0,0,0,0.12)
	.select2-search__field
		outline none
		border 1px solid grass !important
		border-radius 2px !important
		font-family "Roboto", sans-serif
		min-height 50px
		font-size 18px
		border none !important
		background #FFFFFF
		box-shadow 0 2px 4px 0 rgba(0,0,0,0.12)
		&:focus
			outline none
			border 1px solid grass !important

.select2-container
	margin-bottom 20px
.select2-container--default 
	.select2-selection--single 
		min-height 68px
		width auto
		min-width 200px
		border none
		background #F9F9F9
		border 0 solid rgba(151,151,151,0.21)
		box-shadow 0 2px 4px 0 rgba(0,0,0,0.12)
		.select2-selection__rendered[title="Código Postal"]
			color brown-grey-two
		.select2-selection__rendered
		.select2-selection__arrow
			min-height 68px
			text-align left
		.select2-selection__rendered
			color grass
			font-size 24px
			font-weight 300
			line-height 68px
			padding-right 45px
			padding-left 18px
			border solid .8px rgba(151,151,151,.21)
		.select2-selection__arrow 
			b
				border-color dark-slate-blue transparent transparent transparent
				margin-left -9px
				margin-top -3px
				border-width 6px 6px 0 6px
	.select2-results__option--highlighted[aria-selected]
		background-color grass
	.select2-results__option
		font-weight 200