dark-slate-blue = #113b47

.slider
	position relative
	.swiper-wrapper
		height auto
	.swiper-container
		width 100%
		height auto
		margin-bottom 95px
		+below(768px)
			margin-bottom 55px
		
		.swiper-slide
			text-align center
			font-size 18px
			background #fff
			display flex
			justify-content center
			.content_txt
			.content_img
				width 50%
				+below(768px)
					width 100%
			.content_img
				+below(768px)
					height 52vh
				+below(480px)
					height auto
				.img
					+below(768px)
						top 50%
						transform translate(-50%,-50%)
					+below(480px)
						top 0
						transform translate(-50%,0%)

	.swiper-pagination-bullet
		width 13px
		height 13px
	.swiper-pagination
		width 13px
		top 50%
		left 45px
		transform translate(0, -50%)
		z-index 1
		+below(768px)
			display none
	.swiper-pagination-bullet
		margin-bottom 35px
		background-color rgba(dark-slate-blue, 0.6)
	.swiper-pagination-bullet-active
		background-color grass
		position relative
		&:after
			content ''
			width 30px
			height 30px
			border 2px solid dark-slate-blue
			display block
			position absolute
			left 50%
			top 50%
			transform translate(-50%, -50%)
			border-radius 50%

	.swiper-slide
		background transparent !important
		align-items center
		+below(768px)
			flex-flow column-reverse
		.content_txt
			padding 0 90px 0 100px
			box-sizing border-box
			+below(768px)
				padding 40px 60px
			+below(480px)
				padding 20px

			.title
			.text
				color dark-navy
				text-align left
			.title
				color dark-navy
				text-align left
				font-size 4vw
				font-weight 100
				line-height normal
				letter-spacing -1.69px
				word-break break-word
				+below(768px)
					font-size 60px
				+below(480px)
					font-size 40px
				
				&.bold
					font-weight 700
				&:nth-child(2)
					margin-bottom 60px
					+below(768px)
						margin-bottom 30px
			.text
				font-size 30px
				line-height normal
				font-weight 300
				letter-spacing -0.72px
				+below(768px)
					font-size 18px
				&.bold
					font-weight 700
				&+.text
					margin-top 10px
		.content_img
			overflow hidden
			.img
				position relative
				left 50%
				min-height 100%
				transform translate(-50%, 0)
				+below(480px)
					width 100%
					min-height auto