.section_title-white
.section_title-blue
	font-size 60px
	font-weight 200
	font-stretch normal
	font-style normal
	line-height normal
	letter-spacing -1.69px
	padding 0 20px
.section_title-white
	color white
	+below(760px)
		font-size 50px
	+below(480px)
		font-size 40px
	.img
		+below(760px)
			max-width 32px
.section_title-blue
	color dark-navy
	z-index 1
	position relative
	+below(800px)
		font-size 40px
		margin-bottom 0
	+below(480px)
		font-size 40px
		