doctype html
html(lang="es")
	head
		include ./helpers/mixins/_favicon
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Pymefectivo | Términos y Condiciones
		+favicon
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,500,700&display=swap&subset=latin-ext")
		script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
		link(rel="stylesheet" href="css/master.css" type="text/css")
		include includes/_ga
		include ./helpers/components/_component-list
	body
		include includes/_ga-noscript
		// WRAPPER
		.page_wrap
			// HEADER
			header.header
				// NAV
				.nav_bar
					a.nav_button(href="index.html")
						span.icon-list
							.nav-icon
								span
								span
								span
								span
					a.link(href="index.html" target="_self")
						svg.logo(width="183" height="38" viewbox="0 0 183 38")
							defs
								path#a(d="M0 0h184v38H0z")
							g(fill="none" fill-rule="evenodd")
								mask#b(fill="#fff")
									use(xlink:href="#a")
								path.path_1(d="M11.368 14.953h-4.12l-1.66 8.072h3.896c4.375 0 5.333-2.33 5.716-4.134.351-1.772.351-3.938-3.832-3.938m-2.14 10.96H4.983L3.512 33H0l4.311-21h7.313c7.887 0 7.727 4.233 7.12 7.153-.574 2.822-1.756 6.76-9.515 6.76M60.593 33H57.03l3.435-16.439L50.094 33h-3.563l-3.5-16.636L39.531 33H36l4.407-21h5.12l3.434 17.03L59.524 12H65zM82.379 14.986H71.39l-1.276 5.84h9.974l-.588 2.921h-9.974l-1.308 6.267h10.987L78.552 33H64l4.415-21H83z" mask="url(#b)")
								path.path_2(d="M84 31.997l3.227-14.564H84.66l.535-2.137 2.711-.723.392-1.71C89.154 9.181 91.65 7.768 98 8.031l-.678 2.86c-3.852-.099-4.78.624-5.172 2.268l-.321 1.414h4.637l-.606 2.86h-4.78L87.72 32 84 31.997zM104.442 17.683c-2.957 0-4.389 1.745-5.247 4.427h8.269c.381-2.973-.35-4.427-3.022-4.427zm-5.884 7.174c-.318 3.168.796 4.428 3.467 4.428 2.45 0 3.658-1.066 4.485-2.585h3.689c-1.4 3.264-3.594 5.3-8.238 5.3-6.742 0-7.537-4.557-6.678-8.759.858-4.104 3.18-8.241 9.51-8.241 5.883 0 7.091 4.492 5.66 9.857H98.558zM125.45 21.787c.157-2.812-.506-3.975-3.001-3.975-3.537 0-5.085 2.585-5.748 5.785-.695 3.232-.221 5.43 3.221 5.43 2.558 0 3.822-1.229 4.77-3.75h3.474c-1.17 4.396-3.664 6.723-8.275 6.723-6.506 0-7.517-4.266-6.601-8.63.916-4.395 3.284-8.37 9.443-8.37 4.643 0 6.79 2.424 6.159 6.787h-3.443zM141.372 19.336h-4.327l-1.982 9.589c-.297 1.467-.066 2.184 3.865 2.116l-.562 2.934c-5.714.24-7.73-1.228-6.904-5.289l1.95-9.35H131l.43-2.217 2.576-.82.925-4.299h3.501l-.858 4.368H142l-.628 2.968zM147.994 14.423c-1.583 0-2.694-.48-2.29-2.332.37-1.645 1.347-2.091 2.963-2.091 1.617 0 2.627.514 2.256 2.366-.336 1.611-1.313 2.057-2.929 2.057zM145.569 34H142l3.637-17.554h3.603L145.57 34zM167.251 16.385l.194-.307L178 0h-4.082l-17.05 25.957-2.336-10.71H151l3.224 14.735-.012.018.02.02.116.53-.04.045.042-.037.425 1.942h.009l.554 2.5 2.676-4.374h.004l8.72-13.47.506-.772zM175.833 17.977c-3.92 0-5.346 2.84-6.026 6.16-.713 3.422-.324 5.886 3.337 5.886 3.985 0 5.41-2.772 6.091-6.16.648-3.32.389-5.886-3.402-5.886M172.95 33c-6.642 0-7.581-4.517-6.642-9.137.94-4.62 3.337-8.863 9.752-8.863 6.544 0 7.581 4.551 6.642 9.137-.908 4.654-3.337 8.863-9.752 8.863" mask="url(#b)")
								path.path_3(d="M36 16L25.156 38H22l2.955-5.825L22.086 16h3.127l1.463 9.823c.086.62.287 2.23.316 2.602.115-.402.774-1.983 1.09-2.602L32.844 16H36z" mask="url(#b)")
				nav.nav
					ul.nav_list
						li.list_item
							a.link.no-padding(href="index.html" target="_self")
								img.logo(src="img/logo.svg" alt="PYMEfectivo")
						li.list_item
							a.link(href="index.html" target="_self") Home
						li.list_item
							a.link(href="preguntas-frecuentes.html" target="_self") Preguntas frecuentes
						li.list_item
							a.link(href="contacto.html" target="_self") Contacto
				// / NAV
			// / HEADER
			.container.section_txt
				h2.section_title
					| Aviso de privacidad
				.container
					h3.subtitle
						| APOYO ECONÓMICO FAMILIAR, S.A. de C.V., SOFOM, E.N.R.
					h3.subtitle
						| (En lo sucesivo “AEF”)
					p.txt-small.txt-bold
						| Insurgentes Sur No. 1228, Quinto Piso, Colonia Tlacoquemécatl del Valle, Alcaldía Benito Juárez, C.P. 03200, Ciudad de México.
					p.txt
						| A todos nuestros solicitantes de crédito y Clientes (en adelante los “Clientes”):
					p.txt
						| El presente Aviso de Privacidad tiene como fin primordial dar cumplimiento a lo establecido por la Ley Federal de Protección de Datos Personales en Posesión de los Partículares (en adelante la “Ley”).
					h3.subtitle
						| FINALIDAD DEL TRATAMIENTO DE DATOS
					p.txt
						| AEF requiere los datos personales de los solicitantes de crédito y de sus Clientes con la finalidad de: identificarlos, consultar y verificar los datos e información que nos proporcionan, incluyendo las referencias personales, (ii) poder celebrar contratos de crédito, (iii) realizar requerimientos de pago, (iv) que el Cliente pueda efectuar sus pagos utilizando tarjetas de crédito o débito que tenga contratadas con alguna institución financiera, (v) ceder o enajenar los derechos que a su favor se deriven de los contratos que se hubieren celebrado, (vi) otorgarles información relacionada con los contratos celebrados, (vii) ofrecerles productos y/o servicios otorgados directamente por AEF o directamente por las empresas Financiera Independencia, S.A.B. de C.V., SOFOM, E.N.R., Financiera Finsol, S.A. de C.V., SOFOM, E.N.R, Confianza Económica, S.A. de C.V., SOFOM, E.N.R. y/o Fisofo, S.A. de C.V., SOFOM, E.N.R. (en adelante las “Empresas”), (viii) contactarlos con la finalidad de mantener actualizados sus datos personales, mientras se encuentre vigente la relación jurídica entre el Cliente y AEF y dentro de los diez años posteriores que termine la relación jurídica, en caso de que sea necesario actualizar algún dato personal en términos del artículo 95 Bis de la Ley General de Organizaciones y Actividades Auxiliares del Crédito; (ix) para hacer consultas a las sociedades de información crediticia, con la previa autorización de los Clientes; (x) consultar, validar y/o verificar los datos e información de la credencial para votar a través de los sistemas que para tales efectos tenga implementado el Instituto Nacional Electoral, en caso de que los Clientes utilicen la credencial para votar como documento de identificación y/o comprobante de domicilio; y (xi) para fines mercadotécnicos, publicitarios y de prospección comercial. Se informa a los Clientes que las finalidades que dieron origen a la existencia de la relación jurídica son las enunciadas en los incisos (i) y (ii) y aquellas que servirán al mantenimiento y/o cumplimiento de las obligaciones que se derivan de la relación jurídica, así como para efectos comerciales serán las contenidas en los incisos (iii) a (xi).
					p.txt
						| A través del presente Aviso de Privacidad, AEF garantiza el derecho de sus Clientes para manifestar su negativa para el tratamiento de sus datos personales con relación a las finalidades antes enunciadas y aquellas que el Cliente considere que no son necesarias para la relación jurídica, para lo cual el Cliente deberá informar a AEF sobre su negativa al momento en que AEF le ponga a su disposición el presente Aviso de Privacidad, entendiéndose que el consentimiento expreso que el Cliente otorga al momento en que se le entrega el presente Aviso de Privacidad es señal de su conformidad, sin perjuicio de su derecho para revocar el consentimiento que previamente hubiere otorgado o bien para ejercer su derecho a oponerse al tratamiento de sus datos en términos de las disposiciones aplicables, derechos que en todo caso serán garantizados por AEF.
					h3.subtitle
						| OBTENCIÓN Y TRATAMIENTO DE LOS DATOS PERSONALES
					p.txt
						| AEF recaba los datos de sus solicitantes de crédito y Clientes (i) de manera personal, (ii) a través de medios electrónicos, (iii) a través de encargados, en términos de la Ley; o (iv) por cualquier otro medio permitido por la Ley. Los datos que AEF recaba de los Clientes son tratados a través de medios técnicos, administrativos y digitales adecuados que permiten proteger su información. Los datos de los Clientes de AEF reciben un tratamiento secreto y confidencial por parte de AEF, quien adopta para tal efecto las medidas necesarias para evitar su alteración, pérdida, tratamiento o acceso no autorizado de los datos recabados.
					p.txt
						| Por su parte, el solicitante de crédito y Clientes declaran que sus datos son exactos, auténticos, completos y son responsabilidad de quien los proporciona, por lo que se libera a AEF de cualquier responsabilidad relacionada al respecto. Los datos que los solicitantes de crédito y Clientes libre y voluntariamente proporcionan a AEF, incluyen: datos de identificación, datos laborales, datos biométricos, datos patrimoniales, datos patrimoniales, imágenes video grabadas con o sin sonido y referencias personales del Cliente.
					p.txt
						| Si al momento de celebrar un contrato de crédito con AEF, los Clientes, libremente deciden contratar un seguro con la Institución de Seguros que provea los mismos, AEF recabará datos personales sensibles, exclusivamente por lo que se refiere a la causa u origen que dé lugar a la reclamación presentada por los Clientes relacionada con algún siniestro amparado por los seguros contratados, con la finalidad de transferirlos a la Institución de Seguros que proporcione dichos seguros.
					p.txt
						| Como parte de las medidas de seguridad que AEF implementa en cada una de sus sucursales, tomará video grabación, con o sin sonido, durante el horario en que las sucursales se encuentren abiertas al público. Las imágenes y/o sonidos que en su caso sean captados por las cámaras de video vigilancia serán utilizados para el resguardo de la seguridad de los Clientes y de las personas que laboran en las sucursales. EJERCICIO DE LOS DERECHOS DE ACCESO, RECTIFICACIÓN, CANCELACIÓN U OPOSICIÓN (DERECHOS ARCO).
						| Los Clientes serán responsables de la exactitud, veracidad, autenticidad y vigencia de sus datos. Los Clientes de AEF tienen el derecho de (i) acceder a los datos personales que les fueron recabados, (ii) a rectificar sus datos, en caso de ser estos inexactos o incompletos, (iii) a cancelar sus datos cuando a su consideración no son necesarios para alguna de las finalidades señaladas en el presente Aviso de Privacidad, y legalmente sea procedente, y (iv) a oponerse al tratamiento de dichos datos, en términos de la Ley.
					h3.subtitle
						| REVOCACIÓN DEL CONSENTIMIENTO
					p.txt
						| En cualquier momento el Cliente podrá informar a AEF su determinación de revocar el consentimiento que previamente se hubiere otorgado para el tratamiento de los datos personales de acuerdo con las finalidades descritas en el presente Aviso de Privacidad, a fin de que AEF deje de hacer uso de los mismos y siempre y cuando el consentimiento que se pretenda revocar no derive de una relación jurídica contractual u operación pactada con AEF, que la ley lo permita o que así se hubiere pactado expresamente entre AEF y el Cliente. En todos los casos la revocación del consentimiento no tendrá efectos retroactivos. Los medios y el procedimiento para hacerlo efectivo se mencionan a continuación.
					h3.subtitle
						| MEDIOS Y PROCEDIMIENTO PARA EL EJERCICIO DE LOS DERECHOS ARCO Y PARA LA REVOCACIÓN DEL CONSENTIMIENTO
					p.txt
						| Los Clientes de AEF podrán ejercer sus derechos ARCO y revocar su consentimiento para el tratamiento de sus datos personales, a través de la solicitud respectiva, que podrá ser obtenida en forma gratuita en las sucursales de AEF o en la página de internet 
						a.link(href="http://www.apoyoeconomico.com.mx") www.apoyoeconomico.com.mx
						| . La solicitud deberá ser entregada en la sucursal o ser enviada al correo electrónico 
						a.link(href="mailto:atencionaclientes@apoyoeconomico.com.mx") atencionaclientes@apoyoeconomico.com.mx. 
						| Dicha solicitud indicará los requisitos y el procedimiento para el ejercicio de los derechos ARCO y/o para la revocación del consentimiento para el tratamiento de sus datos personales, que a continuación se describe. Recibida la solicitud por el Ejecutivo de Atención a Clientes o bien por el Ejecutivo de Piso de AEF debidamente requisitada y una vez que se acredite la identidad del Cliente (titular de los datos personales) o bien la representación legal del mismo por medio de la identificación oficial vigente y poder del representante legal (mismos que quedarán adjuntos al expediente), se entregará un acuse de recibo al Cliente. Una vez recibida la solicitud, AEF dará respuesta por escrito a la misma en el término de 20 (veinte) días naturales. La respuesta se pondrá a disposición del Cliente en la sucursal de AEF o donde se hubiere presentado la solicitud, dentro del plazo antes señalado. En caso de resultar procedente, AEF cumplirá con lo solicitado dentro de los 15 (quince) días naturales posteriores.
					h3.subtitle
						| LIMITACIÓN DEL USO O DIVULGACIÓN DE SUS DATOS PERSONALES
					p.txt
						| Cuando el tratamiento de sus datos personales no se refiera a aquellos necesarios para cumplir con una obligación legal o contractual (cumplimiento de las obligaciones legales derivadas de la relación jurídica existente entre el Cliente y AEF), el Cliente tendrá el derecho de solicitar a AEF la limitación en el uso y/o divulgación de sus datos por medio de la solicitud que AEF le proporcionará, para que en caso de resultar procedente AEF registre los datos personales del Cliente en los listados de exclusión dentro del término de 20 (veinte) días naturales contados a partir de la presentación de la solicitud respectiva.
					h3.subtitle
						| TRANSFERENCIA DE DATOS PERSONALES POR AEF
					p.txt
						| AEF utiliza los datos personales de sus Clientes exclusivamente para los fines señalados en el presente Aviso de Privacidad y los conserva por el tiempo que las disposiciones legales señalan. AEF comparte y/o transfiere los datos personales de sus Clientes con las empresas, así como con terceros (i) cuando el Cliente contrata otro producto y/o servicio a través de AEF, (ii) cuando cedemos y/o enajenamos la cartera de créditos, (iii) para hacer requerimientos de pago a través de despachos de cobranza, (iv) para la prestación de servicios, (v) cuando AEF otorgue en garantía los derechos que a su favor se deriven de los contratos celebrados, (vi) para consulta y verificación de los datos e información otorgada por los Clientes, (vii) para que las empresas y terceros le ofrezcan productos o servicios, (viii) con los que celebre contratos donde AEF acuerde que dichos terceros tendrán la calidad de encargados en términos de la Ley; (ix) para fines mercadotécnicos, publicitarios y de prospección comercial, (x) cuando así se requiera por disposición legal o por orden de autoridad competente debidamente fundada y motivada, y (xi) en los supuestos señalados en el artículo 37 de la Ley. Fuera de los casos enunciados, usted tiene la confianza de que sus datos no serán transferidos a terceras personas sin su expreso consentimiento.
					p.txt
						| En todo caso AEF garantiza que las finalidades del tratamiento de los datos personales del Cliente serán respetadas por los terceros receptores cuando se verifique alguna de las transferencias antes enunciadas. Los terceros receptores de los datos personales de los Clientes podrán ser las Empresas, empresas que se dediquen o tengan un giro similar al de AEF o bien personas físicas o morales con la que AEF tenga una relación contractual, despachos de cobranza, entidades financieras (nacionales o extranjeras), Instituciones de Seguros y/o Fianzas, y personas físicas y morales que le presten servicios a AEF.
					p.txt
						| Las finalidades de las transferencias antes enunciadas perseguirán: (i) el cumplimiento de las disposiciones en materia de Datos Personales por parte de AEF, (ii) el mantenimiento y/o cumplimiento de las obligaciones y derechos contraídos por medio de los Contratos celebrados con los Clientes, (iii) protección de los derechos de pago de AEF, (iv) la garantía de cualquier derecho derivado de los contratos que celebre AEF, (v) protección de los derechos de los Clientes y (vi) publicidad y promoción de los productos financieros que AEF ofrezca a sus Clientes.
					h3.subtitle
						| CONSENTIMIENTO DE TRANSFERENCIA
					p.txt
						| El Cliente manifiesta su conformidad para que AEF pueda llevar a cabo las transferencias en los supuestos previstos en el presente Aviso de Privacidad, a los terceros receptores antes mencionados y por las finalidades enunciadas, por lo que el Cliente manifiesta su consentimiento expreso al momento en que se le entrega y firma el presente Aviso de Privacidad.
					h3.subtitle
						| COOKIES Y WEB BEACONS
					p.txt
						| AEF utiliza varias tecnologías para mejorar la eficiencia de su sitio web 
						a.link(href="http://www.apoyoeconomico.com.mx") www.apoyoeconomico.com.mx
						| , incluyendo su experiencia cuando navega por dicho sitio. Entre estas tecnologías se incluye el uso de cookies. Las cookies son pequeñas cantidades de información que se almacenan en el navegador utilizado por cada usuario para que el servidor recuerde cierta información que posteriormente pueda utilizar. Por su parte, los web beacons son imágenes insertadas en el sitio web de AEF o correo electrónico, que pueden ser utilizadas para monitorear el comportamiento de un visitante, así como para almacenar información sobre la dirección IP del usuario, duración del tiempo de interacción de dicha página y el tipo de navegador utilizado, entre otros. Esta información permite identificarle y guardar sus preferencias personales para brindarle una mejor experiencia de navegación. Los Clientes pueden, en todo momento, deshabilitar el uso de este tipo de tecnologías en sus equipos de cómputo.
					h3.subtitle
						| COMUNICACIÓN
					p.txt
						| Cualquier cambio y/o modificación total o parcial al presente Aviso de Privacidad se le dará a conocer directamente en las sucursales de AEF, así como a través de nuestro sitio en internet 
						a.link(href="http://www.apoyoeconomico.com.mx") www.apoyoeconomico.com.mx
		// / WRAPPER
		// FOOTER
		+footer
		// / FOOTER
		script(src="js/master.min.js")
