doctype html
html(lang="es")
	head
		include ./helpers/mixins/_favicon
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Pymefectivo | Nosotros
		+favicon
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,500,700&display=swap&subset=latin-ext")
		script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
		link(rel="stylesheet" href="css/master.css" type="text/css")
		include includes/_ga
		include ./helpers/components/_component-list
	body
		include includes/_ga-noscript
		// WRAPPER
		.page_wrap
			// HEADER
			span.inicio
			header.header
				// NAV
				.nav_bar
					a.nav_button(href="index.html")
						span.icon-list
							.nav-icon
								span
								span
								span
								span
					a.link(href="index.html" target="_self")
						svg.logo(width="183" height="38" viewbox="0 0 183 38")
							defs
								path#a(d="M0 0h184v38H0z")
							g(fill="none" fill-rule="evenodd")
								mask#b(fill="#fff")
									use(xlink:href="#a")
								path.path_1(d="M11.368 14.953h-4.12l-1.66 8.072h3.896c4.375 0 5.333-2.33 5.716-4.134.351-1.772.351-3.938-3.832-3.938m-2.14 10.96H4.983L3.512 33H0l4.311-21h7.313c7.887 0 7.727 4.233 7.12 7.153-.574 2.822-1.756 6.76-9.515 6.76M60.593 33H57.03l3.435-16.439L50.094 33h-3.563l-3.5-16.636L39.531 33H36l4.407-21h5.12l3.434 17.03L59.524 12H65zM82.379 14.986H71.39l-1.276 5.84h9.974l-.588 2.921h-9.974l-1.308 6.267h10.987L78.552 33H64l4.415-21H83z" mask="url(#b)")
								path.path_2(d="M84 31.997l3.227-14.564H84.66l.535-2.137 2.711-.723.392-1.71C89.154 9.181 91.65 7.768 98 8.031l-.678 2.86c-3.852-.099-4.78.624-5.172 2.268l-.321 1.414h4.637l-.606 2.86h-4.78L87.72 32 84 31.997zM104.442 17.683c-2.957 0-4.389 1.745-5.247 4.427h8.269c.381-2.973-.35-4.427-3.022-4.427zm-5.884 7.174c-.318 3.168.796 4.428 3.467 4.428 2.45 0 3.658-1.066 4.485-2.585h3.689c-1.4 3.264-3.594 5.3-8.238 5.3-6.742 0-7.537-4.557-6.678-8.759.858-4.104 3.18-8.241 9.51-8.241 5.883 0 7.091 4.492 5.66 9.857H98.558zM125.45 21.787c.157-2.812-.506-3.975-3.001-3.975-3.537 0-5.085 2.585-5.748 5.785-.695 3.232-.221 5.43 3.221 5.43 2.558 0 3.822-1.229 4.77-3.75h3.474c-1.17 4.396-3.664 6.723-8.275 6.723-6.506 0-7.517-4.266-6.601-8.63.916-4.395 3.284-8.37 9.443-8.37 4.643 0 6.79 2.424 6.159 6.787h-3.443zM141.372 19.336h-4.327l-1.982 9.589c-.297 1.467-.066 2.184 3.865 2.116l-.562 2.934c-5.714.24-7.73-1.228-6.904-5.289l1.95-9.35H131l.43-2.217 2.576-.82.925-4.299h3.501l-.858 4.368H142l-.628 2.968zM147.994 14.423c-1.583 0-2.694-.48-2.29-2.332.37-1.645 1.347-2.091 2.963-2.091 1.617 0 2.627.514 2.256 2.366-.336 1.611-1.313 2.057-2.929 2.057zM145.569 34H142l3.637-17.554h3.603L145.57 34zM167.251 16.385l.194-.307L178 0h-4.082l-17.05 25.957-2.336-10.71H151l3.224 14.735-.012.018.02.02.116.53-.04.045.042-.037.425 1.942h.009l.554 2.5 2.676-4.374h.004l8.72-13.47.506-.772zM175.833 17.977c-3.92 0-5.346 2.84-6.026 6.16-.713 3.422-.324 5.886 3.337 5.886 3.985 0 5.41-2.772 6.091-6.16.648-3.32.389-5.886-3.402-5.886M172.95 33c-6.642 0-7.581-4.517-6.642-9.137.94-4.62 3.337-8.863 9.752-8.863 6.544 0 7.581 4.551 6.642 9.137-.908 4.654-3.337 8.863-9.752 8.863" mask="url(#b)")
								path.path_3(d="M36 16L25.156 38H22l2.955-5.825L22.086 16h3.127l1.463 9.823c.086.62.287 2.23.316 2.602.115-.402.774-1.983 1.09-2.602L32.844 16H36z" mask="url(#b)")
				nav.nav
					ul.nav_list
						li.list_item
							a.link.no-padding(href="index.html" target="_self")
								img.logo(src="img/logo.svg" alt="PYMEfectivo")
						li.list_item
							a.link(href="index.html" target="_self") Home
						li.list_item
							a.link(href="preguntas-frecuentes.html" target="_self") Preguntas frecuentes
						li.list_item
							a.link(href="contacto.html" target="_self") Contacto
				// / NAV
			// / HEADER
			.container.section_txt.nosotros
				h2.section_title
					| ¿Quiénes somos?
				.container
					p.txt
						| Somos Apoyo Económico, una <span class="green">empresa 100% mexicana</span> creada para apoyar a las clases trabajadoras del país mediante productos financieros que cubran sus necesidades a través de un servicio que se distinga por su calidad y oportunidad.

					p.txt
						| Más del <span class="green">82%</span> de nuestros clientes aseguran que es muy fácil tramitar un préstamo con nosotros.
					p.txt
						| Desde el año 2005, Apoyo Económico impulsa a personas como tú, empleados o dueños de micronegocios, otorgando préstamos en efectivo y consejos financieros para cumplir sus metas de forma rápida, confiable y con la mejor atención.

			section.valores
				h2.section_title-blue.align-center
						|  Nuestros valores
				.content
					.left
						figure.img_container
							img(src="img/valores.jpg", class="img" alt="Valores")
					.right
						.valores_txt
							ul.list.list-green
								li.list_item Respeto
								li.list_item Sinceridad
								li.list_item Honestidad
								li.list_item Lealtad
								li.list_item Responsabilidad
								li.list_item Servicio
								li.list_item Responsabilidad social
								li.list_item Trabajo en equipo 
			section.grey.section_txt
				h2.section_title-blue.align-center
						|  Tú tienes el plan, nosotros el préstamo que necesitas.
					
		// / WRAPPER
		// FOOTER
		+footer
		// / FOOTER
		script(src="js/master.min.js")
