doctype html
html(lang="es")
	head
		include ./helpers/mixins/_favicon
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Pymefectivo | Términos y Condiciones
		+favicon
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,500,700&display=swap&subset=latin-ext")
		script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
		link(rel="stylesheet" href="css/master.css" type="text/css")
		include includes/_ga
		include ./helpers/components/_component-list
	body
		include includes/_ga-noscript
		// WRAPPER
		.page_wrap
			// HEADER
			header.header
				// NAV
				.nav_bar
					a.nav_button(href="index.html")
						span.icon-list
							.nav-icon
								span
								span
								span
								span
					a.link(href="index.html" target="_self")
						svg.logo(width="183" height="38" viewbox="0 0 183 38")
							defs
								path#a(d="M0 0h184v38H0z")
							g(fill="none" fill-rule="evenodd")
								mask#b(fill="#fff")
									use(xlink:href="#a")
								path.path_1(d="M11.368 14.953h-4.12l-1.66 8.072h3.896c4.375 0 5.333-2.33 5.716-4.134.351-1.772.351-3.938-3.832-3.938m-2.14 10.96H4.983L3.512 33H0l4.311-21h7.313c7.887 0 7.727 4.233 7.12 7.153-.574 2.822-1.756 6.76-9.515 6.76M60.593 33H57.03l3.435-16.439L50.094 33h-3.563l-3.5-16.636L39.531 33H36l4.407-21h5.12l3.434 17.03L59.524 12H65zM82.379 14.986H71.39l-1.276 5.84h9.974l-.588 2.921h-9.974l-1.308 6.267h10.987L78.552 33H64l4.415-21H83z" mask="url(#b)")
								path.path_2(d="M84 31.997l3.227-14.564H84.66l.535-2.137 2.711-.723.392-1.71C89.154 9.181 91.65 7.768 98 8.031l-.678 2.86c-3.852-.099-4.78.624-5.172 2.268l-.321 1.414h4.637l-.606 2.86h-4.78L87.72 32 84 31.997zM104.442 17.683c-2.957 0-4.389 1.745-5.247 4.427h8.269c.381-2.973-.35-4.427-3.022-4.427zm-5.884 7.174c-.318 3.168.796 4.428 3.467 4.428 2.45 0 3.658-1.066 4.485-2.585h3.689c-1.4 3.264-3.594 5.3-8.238 5.3-6.742 0-7.537-4.557-6.678-8.759.858-4.104 3.18-8.241 9.51-8.241 5.883 0 7.091 4.492 5.66 9.857H98.558zM125.45 21.787c.157-2.812-.506-3.975-3.001-3.975-3.537 0-5.085 2.585-5.748 5.785-.695 3.232-.221 5.43 3.221 5.43 2.558 0 3.822-1.229 4.77-3.75h3.474c-1.17 4.396-3.664 6.723-8.275 6.723-6.506 0-7.517-4.266-6.601-8.63.916-4.395 3.284-8.37 9.443-8.37 4.643 0 6.79 2.424 6.159 6.787h-3.443zM141.372 19.336h-4.327l-1.982 9.589c-.297 1.467-.066 2.184 3.865 2.116l-.562 2.934c-5.714.24-7.73-1.228-6.904-5.289l1.95-9.35H131l.43-2.217 2.576-.82.925-4.299h3.501l-.858 4.368H142l-.628 2.968zM147.994 14.423c-1.583 0-2.694-.48-2.29-2.332.37-1.645 1.347-2.091 2.963-2.091 1.617 0 2.627.514 2.256 2.366-.336 1.611-1.313 2.057-2.929 2.057zM145.569 34H142l3.637-17.554h3.603L145.57 34zM167.251 16.385l.194-.307L178 0h-4.082l-17.05 25.957-2.336-10.71H151l3.224 14.735-.012.018.02.02.116.53-.04.045.042-.037.425 1.942h.009l.554 2.5 2.676-4.374h.004l8.72-13.47.506-.772zM175.833 17.977c-3.92 0-5.346 2.84-6.026 6.16-.713 3.422-.324 5.886 3.337 5.886 3.985 0 5.41-2.772 6.091-6.16.648-3.32.389-5.886-3.402-5.886M172.95 33c-6.642 0-7.581-4.517-6.642-9.137.94-4.62 3.337-8.863 9.752-8.863 6.544 0 7.581 4.551 6.642 9.137-.908 4.654-3.337 8.863-9.752 8.863" mask="url(#b)")
								path.path_3(d="M36 16L25.156 38H22l2.955-5.825L22.086 16h3.127l1.463 9.823c.086.62.287 2.23.316 2.602.115-.402.774-1.983 1.09-2.602L32.844 16H36z" mask="url(#b)")
				nav.nav
					ul.nav_list
						li.list_item
							a.link.no-padding(href="index.html" target="_self")
								img.logo(src="img/logo.svg" alt="PYMEfectivo")
						li.list_item
							a.link(href="index.html" target="_self") Home
						li.list_item
							a.link(href="preguntas-frecuentes.html" target="_self") Preguntas frecuentes
						li.list_item
							a.link(href="contacto.html" target="_self") Contacto
				// / NAV
			// / HEADER
			.container.section_txt
				h2.section_title
					| Uso y Privacidad del sitio
				.container
					h3.subtitle
						| Legales
					h3.subtitle
						| Apoyo Económico Familiar S.A. de C.V. SOFOM E.N.R.
					p.txt
						| (En adelante AEF) dan aviso de que su sitio Web, en la aplicación "www" o world wide web o "Sitio Web" de internet, (en adelante "Sitio Web"), se pueden encontrar en forma enunciativa más no limitativa, información, servicios, consultas, contenidos y/o productos de diversa naturaleza.
					h2.section_title
						| Términos y condiciones
				.container
					h3.subtitle
						| 1. USO Y RESTRICCIONES
					p.txt
						| La utilización del "Sitio Web", expresa la adhesión plena y sin reservas del usuario a los presentes Términos y Condiciones de Uso y Privacidad. A través del "Sitio Web", el usuario accesará y/o utilizará diversos servicios y contenidos (en lo sucesivo, los "Servicios y Contenidos"), puestos a su disposición. AEF, tendrá el derecho a negar, restringir o condicionar al usuario el acceso al "Sitio Web", total o parcialmente, a su entera discreción, así como a modificar los "Servicios y Contenidos" del "Sitio Web", en cualquier momento y sin necesidad de previo aviso. AEF no garantiza la disponibilidad y continuidad de la operación del "Sitio Web" y de los "Servicios y Contenidos", ni la utilidad del "Sitio Web" o los "Servicios y Contenidos" en relación con ninguna actividad específica. AEF no será responsable por ningún daño o pérdida de cualquier naturaleza que pueda ser causado debido a la falta de disponibilidad o continuidad de operación del "Sitio Web" y/o de los "Servicios y Contenidos".
					h3.subtitle
						| 2. PROPIEDAD INTELECTUAL
					p.txt
						| Apoyo Económico es marca registrada que se encuentra protegida por la Ley de la Propiedad Industrial tanto en México como en el extranjero según las leyes aplicables. Su uso, reproducción, comercialización, difusión, explotación, exhibición, publicidad y en general, cualquier forma de utilización ya sea idéntico o en grado de confusión directa o indirecta, parcial o total, por cualquier medio impreso, magnético, óptico, informático, mecánico, electrónico o de cualquier otro tipo, están prohibidos sin la previa autorización por escrito del titular de la marca, por lo que cualquier contravención a la presente disposición o a las leyes de propiedad industrial, intelectual o de derecho de autor, representa la comisión directa de un delito sancionado por las leyes penales. El logotipo de AEF y el de sus productos, así como las marcas denominativas y mixtas y los avisos comerciales que aparezcan en el "Sitio Web", están registrados y son propiedad de AEF los derechos de propiedad intelectual respecto de los "Servicios y Contenidos" y los signos distintivos y dominios del "Sitio Web", así como los derechos de uso y explotación de los mismos, incluyendo su divulgación, publicación, reproducción, distribución y transformación, son propiedad exclusiva de AEF. El usuario no adquiere ningún derecho de propiedad intelectual por el simple uso de los "Servicios y Contenidos" del "Sitio Web" y en ningún momento dicho uso será considerado como una autorización ni licencia para utilizar los "Servicios y Contenidos" con fines distintos a los que se contemplan en los presentes Términos y Condiciones de Uso y Privacidad.
					h3.subtitle
						| 3. PROPIEDAD INTELECTUAL DE TERCEROS
					p.txt
						| El usuario acuerda que las disposiciones que se establecen anteriormente respecto de la titularidad de los derechos de uso y explotación de AEF también son aplicables a los derechos de terceros respecto de los Servicios y Contenidos de las páginas enlazadas al "Sitio Web".
					h3.subtitle
						| 4. USOS PERMITIDOS
					p.txt
						| El aprovechamiento de los "Servicios y Contenidos" del "Sitio Web" es exclusiva responsabilidad del usuario, quien en todo caso deberá servirse de ellos acorde a las funcionalidades permitidas en el propio "Sitio Web" y a los usos autorizados en los presentes Términos y Condiciones de Uso y Privacidad, por lo que el usuario se obliga a utilizarlos de modo tal que no atenten contra las normas de uso y convivencia en internet, las leyes de los Estados Unidos Mexicanos y la legislación vigente en el país en que el usuario se encuentre al usarlos, las buenas costumbres, la dignidad de la persona y los derechos de terceros. El "Sitio Web" es para el uso personal y del usuario por lo que no podrá comercializar de manera alguna los "Servicios y Contenidos".
					h3.subtitle
						| 5. PROHIBICIONES
					p.txt
						| El usuario no tiene el derecho de colocar hiperligas de sitios web al "Sitio Web", ni el derecho de colocar o utilizar los "Servicios y Contenidos" del "Sitio Web" en sitios o páginas propias o de terceros sin autorización previa y por escrito de AEF. Asimismo, el usuario no tendrá el derecho de limitar o impedir a cualquier otro usuario el uso del "Sitio Web".
					h3.subtitle
						| 6. CALIDAD DE LOS SERVICIOS Y CONTENIDOS
					p.txt
						| Ni AEF, ni sus proveedores o socios comerciales serán responsables de cualquier daño o perjuicio que sufra el usuario a consecuencia de inexactitudes, errores tipográficos y cambios o mejoras que se realicen periódicamente a los "Servicios y Contenidos". Las recomendaciones y consejos obtenidos a través del "Sitio Web" son de naturaleza general, por lo que no deben tomarse en cuenta en la adopción de decisiones personales. Para ello se debe consultar a un profesional apropiado que pueda asesorar al usuario de acuerdo con sus necesidades específicas.
					h3.subtitle
						| 7. CONFIDENCIALIDAD
					p.txt
						| AEF se obliga a mantener confidencial la información que reciba del usuario que tenga dicho carácter conforme a las disposiciones legales aplicables en los Estados Unidos Mexicanos. AEF no asume ninguna obligación de mantener confidencial cualquier otra información que el usuario le proporcione, ya sea al inscribirse al "Sitio Web" o en cualquier otro momento posterior, incluyendo aquella información que el usuario proporcione a través de boletines, pizarras o plática en línea.
					h3.subtitle
						| 8. USO DE LA INFORMACIÓN NO CONFIDENCIAL
					p.txt
						| Mediante el uso del "Sitio Web", el usuario autoriza a AEF a utilizar, publicar, reproducir, divulgar, comunicar públicamente y transmitir la información no confidencial, en términos de lo establecido en el artículo 109 de la Ley Federal de los Derechos de Autor.
					h3.subtitle
						| 9. CLAVES DE ACCESO Y NÚMEROS CONFIDENCIALES
					p.txt
						| El usuario es el responsable único y final de mantener en secreto el número de sus cuentas, contraseñas personales, claves de acceso y números confidenciales con los cuales tenga acceso a los "Servicios y Contenidos" del "Sitio Web".
					h3.subtitle
						| 10. RESPONSABILIDADES
					p.txt
						| Antes de utilizar los servicios que ofrece el "Sitio Web" debes de leer y comprender los Términos y Condiciones de Uso y Privacidad, en donde se describen a detalle todos los aspectos de Uso. El usuario es responsable de mantener confidencial su password, números de cuenta o contrato, información personal de identificación y otros datos de la cuenta.
					p.txt
						| AEF no se hace responsable por errores del cliente o usuario, por negligencia al usar los servicios del "Sitio Web" y no se hace responsable por:

					ul.simple_list
						li.list_item
							| Errores de captura o el uso indebido del "Sitio Web".
						li.list_item
							| Negligencia en el manejo o compartir el password que ocasione accesos no autorizados a cuentas.
						li.list_item
							| Dejar la computadora sin atención durante una sesión en línea.
						li.list_item
							| Retraso de más de 2 días en el reporte de incidentes de accesos no autorizados.
					h3.subtitle
						| 11. COOKIES
					p.txt
						| El usuario que tenga acceso al "Sitio Web", acuerda recibir las cookies que les transmitan los servidores de AEF "cookie" significa un archivo de datos que se almacena en el disco duro de la computadora del usuario cuando éste tiene acceso al "Sitio Web". Las cookies pueden contener información tal como la identificación proporcionada por el usuario o información para rastrear las páginas que el usuario ha visitado. Una cookie no puede leer los datos o información del disco duro del usuario ni leer las cookies creadas por otros sitios o páginas.
					p.txt
						| Los presentes Términos y Condiciones de Uso y Privacidad atañen únicamente a los servicios de AEF no tenemos control alguno sobre los sitios web mostrados como resultados de búsquedas o enlaces que se incluyen en nuestro "Sitio Web". Es posible que estos sitios independientes envíen sus propias cookies u otros archivos a su equipo, recopilen datos o le soliciten que envíe información personal.
					h3.subtitle
						| 11. MODIFICACIONES
					p.txt
						| AEF tendrá el derecho de modificar en cualquier momento los Términos y Condiciones de Uso y Privacidad, del "Sitio Web". En consecuencia, el usuario debe leer atentamente los Términos y Condiciones de Uso y Privacidad del "Sitio Web" cada vez que pretenda utilizar el "Sitio Web".
					h3.subtitle
						| 12. LEYES APLICABLES Y JURISDICCIÓN
					p.txt
						| Para la interpretación, cumplimiento y ejecución del presente contrato, las partes están de acuerdo en que serán aplicables las leyes Federales de los Estados Unidos Mexicanos y competentes los tribunales de la Ciudad de México, renunciando expresamente a cualquier otro fuero o jurisdicción que pudiera corresponderles en razón de sus domicilios presentes o futuros.
		// / WRAPPER
		// FOOTER
		+footer
		// / FOOTER
		script(src="js/master.min.js")
