
span.inicio
	width 100%
	height 1400px
	position absolute
	z-index -1
	&:after
		top 0
		width 100%
		max-width 100%
		background-repeat no-repeat
.nosotros
	+below(480px)
		padding-bottom 20px
	.txt
		+below(480px)
			text-align justify
		.green
			color grass
.valores
	.content
		display flex
		margin-top 100px
		+below(480px)
			margin-top	30px
		+below(480px)
			flex-flow column
		.left
			width 60%
			+below(480px)
				width 100%
			.img_container
				overflow hidden
				.img
					width max-content
					left 50%
					position relative
					top 50%
					transform translate(-50%,0)
					+below(1200px)
						left 70%
					+below(480px)
						width 100%
						left 50%
		.right
			width 40%
			+below(480px)
				width 70%
			.valores_txt
				background dark-slate-blue
				color white
				min-height 600px
				display flex
				align-items center
				justify-content center
				max-width 610px
				top -60px
				padding 60px 40px
				position relative
				transform scale(1.1)
				transform-origin top right
				box-shadow 0 53px 53px 0 rgba(0, 0, 0, 0.1)
				+below(768px)
					min-height auto
				+below(480px)
					padding 20px
				.list
					padding-left 40px
					&_item
						font-size 36px
						font-weight 200
						+below(768px)
							font-size 20px
						&+.list_item
							margin-top 25px
							+below(768px)
								margin-top 15px
					
.grey
	background-color #F9F9F9
	margin-top -100px
	padding-top 230px
	margin-bottom 70px
	+below(480px)
		margin-top -90px
		padding-top 130px
		margin-bottom 0
	.section_title-blue
		margin-bottom 50px
	&.section_txt
		max-width 1450px

		.container
			max-width 1300px
			margin 0 auto
	

