.como_funciona
	margin-bottom 120px
	+below(760px)
		margin-bottom 30px
	+below(480px)
		margin-bottom 60px
	.section_title-blue
		margin-bottom 50px
		.img
			width 27%
			max-width 408px
			vertical-align text-bottom
			+below(760px)
				width 60%
	.content
		display flex
		min-height 630px
		+below(800px)
			flex-flow column
		.left
			background white
			padding 20px
			overflow hidden
			&_list
				counter-reset li
				margin-left -15%
				padding-left 0
				+below(980px)
					margin-left 0
				.list_item
					color dark-navy
					font-size 30px
					font-weight bold
					letter-spacing -0.72px
					position relative
					margin 0 0 6px 2em
					padding 4px 4px 4px 30px
					list-style none

					&+.list_item
						margin-top 20%
						+below(800px)
							margin-top 12%
					&:before
						content counter(li)
						counter-increment li
						position absolute
						top -11px
						left -2em
						box-sizing border-box
						width 2em
						height 2em
						line-height 1.5em
						margin-right 8px
						padding 4px
						color dark-navy
						background transparent
						border 2px solid brown-grey-two
						font-weight bold
						text-align center
						border-radius 50%
		.right
			+below(800px)
				max-height 240px
			.container_img
				clearfix()
				position relative
				overflow: hidden;
				width: 100%;
				height: 100%;
				transform-origin: right;
				transform: scale(1.1) translate(0, 40px)
				z-index: -1;
				+below(800px)
					height 250px
				.img
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					position: absolute;
					+below(800px)
						transform translate(-50%, -40%)
		.left
		.right
			align-items center
			justify-content center
			display flex
			width 50%
			+below(800px)
				width 100%
