.contact
	display flex
	align-items stretch
	min-height calc(100vh - 115px)
	+below(480px)
		flex-flow column
	.left
		width 60%
		+below(950px)
			width 40%
		.bg
			background-image url("../img/contact_01.jpg")
			background-repeat no-repeat
			background-size cover
			height 100%
			background-position 70% 50%
			+below(480px)
				height 210px
				background-position top
	.right
		width 40%
		display flex
		align-items center
		padding 20px
		flex-direction column
		align-content space-between
		justify-content space-between

		+below(950px)
			width 60%
		.content
			width 100%
			max-width 450px
			margin-bottom 20%
			position relative
			.section_title-blue
				+below(480px)
					padding 0
		.bottom
			width 100%
			display flex
			max-width 450px
			justify-content space-between
			+below(320px)
				flex-flow column
			.col
				.title
					color dark-slate-blue
					font-weight bold
					line-height 1.78
				.link
					color grass
					font-size 18px
					font-weight 200
			.col_tel
				position relative
				padding-left 30px
				+below(320px)
					margin-bottom 20px
				&:before
					content ''
					background-image url('../img/call-answer.svg')
					background-repeat no-repeat
					width 20px
					height 20px
					position absolute
					top 40%
					left 10px
					transform translate(-50%, 0%)
	.left
	.right
		+below(480px)
			width 100%
	&_form
		clearfix()
		.field
			margin 40px 0
			&.success
				position relative
				input
					&:-webkit-autofill
						-webkit-text-fill-color grass
						-webkit-box-shadow 0 0 0px 1000px white-two inset
						transition background-color 5000s ease-in-out 0s
				.input
				.select
					border-bottom 1px solid grass
					color grass
					padding-right 40px
				&:after
					content ''
					background-image url('../img/checked.svg')
					background-repeat no-repeat
					width 16px
					height 12px
					position absolute
					right 20px
					bottom 10px
					display block
					background-position center
					background-size 16px 12px
			&.error
				position relative
				input
					&:-webkit-autofill
						-webkit-text-fill-color dark-coral
						-webkit-box-shadow 0 0 0px 1000px white-two inset
						transition background-color 5000s ease-in-out 0s
				.input
				.select
					border-bottom 1px solid dark-coral
					color dark-coral
					padding-right 40px
				&:after
					content ''
					background-image url('../img/error.svg')
					background-repeat no-repeat
					width 12px
					height 12px
					position absolute
					right 20px
					bottom 10px
					display block
					background-position center
					background-size 12px 12px

			.label
				font-size 18px
				font-weight bold
				line-height 1.78
				letter-spacing normal
				color dark-slate-blue
			.input
			.text_area
			.select
				border none
				border-bottom 1px solid dark-slate-blue
				line-height 1.4
				font-size 18px
				font-weight 200
				color dark-slate-blue
				background white
				border-radius 0
				-webkit-appearance none
				&:focus
				&:active
					outline none
					box-shadow none
					border-top none
					border-left none
					border-right none
			.container_select
				position relative
				&:after
					content ""
					top 40%
					right 5px
					width 0 
					height 0 
					position absolute
					border-left 6px solid transparent
					border-right 6px solid transparent
					border-top 6px solid dark-slate-blue
					pointer-events none
			.label
			.input
			.select
				stack()
		.btn
			max-width 225px
			float right
			+below(480px)
				max-width 100%
	.msg_form
		margin-top 20px
	.recaptcha
		display inline-block
		margin-top 10px