.crecer_negocio
	text-align center
	padding 70px 0
	+below(480px)
		padding 30px 0
	.content
		display flex
		flex-flow no-wrap
		align-items stretch
		min-height 700px
		margin-top -40px
		+below(800px)
			min-height 410px
		+below(760px)
			flex-flow column
			min-height auto
		+below(768px)
			margin-top -30px
		+below(480px)
			margin-top 0

		
		.left
			width 35%
			background white-two
			color dark-navy
			display flex
			align-items flex-start
			flex-direction column
			padding 20px
			box-sizing border-box
			justify-content center
			align-items flex-end
			text-align left
			+below(480px)
				margin-top 30px
				align-items center
			.content
				flex-flow column
				justify-content center
				+below(480px)
					align-items center
				.title
				.text
					color dark-navy
					text-align left
					font-size 27px
					font-weight 100
					+below(480px)
						text-align center
				
				.title
					color dark-navy
					text-align left
					font-size 60px
					font-weight 100
					line-height normal
					letter-spacing -1.69px
					+below(800px)
						font-size 40px
					+below(480px)
						font-size 30px
					&.bold
						font-weight 700
					&:nth-child(2)
						margin-bottom 60px
						+below(800px)
							margin-bottom 30px
				.text
					+below(480px)
						font-size 20px
						max-width 250px
		.right
			width 65%
			overflow hidden
			display flex
			align-items center
			padding-left 50px
			padding-right 50px
			+below(800px)
				margin-top 30px
			.slider
				width 100%
				.swiper-container-requisitos
					.swiper-slide
						width 380px
						position relative
						text-align center
						overflow hidden
						border-radius 25px
						+below(800px)
							width 200px
						.item_card
							margin-bottom -5px
							&:before
								content ''
								position absolute
								display block
								width 100%
								height 100%
								background-image linear-gradient(to bottom, rgba(17, 59, 71, 0.36) 27%, rgba(246, 247, 248, 0) 102%, rgba(255, 255, 255, 0) 102%)
							.img
								// min-height 120%
								width 100%
								+below(800px)
									// transform translate(-50%, 0)
									width 100%
							.caption
								position absolute
								top 20px
								left 50%
								font-size 30px
								transform translate(-50%,0)
								color white
								line-height: normal;
								letter-spacing: -0.72px;
								width 80%
		.left
		.right
			+below(800px)
				width 100%