@import "jeet"
@import "var"
@import "config/default/*"
@import "config/utils/*"

global-reset()
reset-html5()

footerHeight = 380px
footerHeightTablet = 450px
footerHeightMobile = 690px
footerHeightMobileSmall = 645px

// break points
breakTablet = 768px
breakMobile = 480px

html
body
	height 100%

input
	appearance none

.page_wrap
	min-height 100%
	margin-bottom -(footerHeight)

.page_wrap:after
	content ""
	display block

.page_wrap:after
	height footerHeight

*
	box-sizing border-box
body
	font-family "Roboto", sans-serif
a
	text-decoration none

p
h3
h4
	font-variant-ligatures none

.header
	clearfix()
	margin-bottom 116px
	+below(800px)
		margin-bottom 82px

.logo
	.path_1
	.path_2
	.path_3
		transition fill .2s
	.path_1
	.path_3
		fill dark-slate-blue
	.path_2
		fill grass

.inicio
	overflow hidden
	position relative
	&:after
		content ""
		background url('../img/watermark.svg')
		bottom 0%
		left 0
		width 80%
		height 1150px
		max-width 810px
		position absolute
		padding-bottom 230px
		z-index -1
		+below(768px)
			width 100%

.grecaptcha-badge
	visibility hidden
	z-index -2

.recaptcha
	margin-top 30px
	color dark-slate-blue
	line-height 1.4
	width 100%
	max-width 700px
	margin 20px auto 0 auto
	.link
		color grass

// COMPONENTS
@import "components/header"
@import "components/footer"
@import "components/slider"
@import "components/titles"
@import "components/list"
@import "solicitud"
@import "requisitos"
@import "crecer-negocio"
@import "como-funciona"
@import "ventajas-credito"
@import "section-txt"
@import "contact"
@import "about-us"
@import "helpers"
