.requisitos
	min-height 670px
	background-color dark-slate-blue
	text-align center
	padding 60px 20px
	position relative
	overflow hidden
	width 100%
	display flex
	flex-direction column
	justify-content space-around
	box-sizing border-box
	&:after	
		content ""
		width 100%
		max-width 906px
		height 1190px
		background-image url("../img/nav-bg.svg")
		position absolute
		left 0
		bottom -15%
		background-repeat no-repeat
		pointer-events none
		z-index 0
	.section_title-white
		.img
			vertical-align middle
			width 35px
			+below(480px)
				width 25px
	.txt
		font-size 18px
		font-weight 300
		font-stretch normal
		font-style normal
		line-height normal
		letter-spacing -0.43px
		text-align center
		color brown-grey
		+below(480px)
			font-size 16px
			line-height 1.4
		.link
			text-decoration none
			color inherit
			&:hover
				text-decoration underline
				color grass
	.requisitos_items
		margin	10% 0
		+below(480px)
			margin 17% 0
		.requisitos_list
			clearfix()
			.list_item
				column(1/5)
				&:last-child
					+below(800px)
						width 100%
						margin 0
				+below(800px)
					column(1/2, gutter: 10, cycle: 2)
					margin-bottom 70px
				.img
					margin-bottom 20px
				.txt
					color white
					font-size 27px
					font-weight 300
					font-stretch normal
					font-style normal
					line-height normal
					letter-spacing -0.65px
					+below(480px)
						font-size 20px
