.section_txt
	width 100%
	max-width 1180px
	margin 0 auto
	padding 70px 20px
	.section_title
		font-size 60px
		font-weight 200
		line-height 1.33
		letter-spacing -0.87px
		color dark-slate-blue
		margin-bottom 40px
		font-variant-ligatures none
		+below(480px)
			font-size 36px
			text-align center
	.container
		+below(760px)
			padding-left 0
		.txt
			font-size 30px
			font-weight 200
			line-height normal
			letter-spacing -0.72px
			color dark-slate-blue
			margin-bottom 30px
			font-variant-ligatures none
		.link
			color grass
			word-break break-all
			&:hover
				text-decoration underline
		.txt-small
			font-size 18px
			font-weight 200
			letter-spacing -0.72px
			color dark-slate-blue
			margin-bottom 20px
			font-variant-ligatures none
		.subtitle
			margin 20px 0
			font-weight bold
			font-size 25px
			color dark-navy
			font-variant-ligatures none
		.img
			width 90%
			max-width 1200px
			margin 30px auto
			display inherit
			+below(480px)
				max-width 100%
				width 100%
				margin 30px auto 30px auto
		.simple_list
			padding-left 70px
			margin-bottom 50px
			+below(480px)
				padding-left 35px

			.list_item
				margin-bottom 20px
				list-style-type disc
				font-size 25px
				font-weight 200
				color dark-navy

@import '/components/accordion.styl'