@import '../css/vendor/select2.min.css'
@import 'components/input'
@import 'components/buttons'
@import 'components/selects'

.form_solicitud
	padding 0 20px
	text-align left
	margin-bottom 100px
	position relative
	.title
		font-size 22px
		font-weight 500
		line-height 1.41
		letter-spacing -0.53px
		color dark-navy
		padding 0 0 20px 0
		+below(800px)
			text-align left

	.form
		text-align center
		display flex
		flex-direction row
		flex-wrap wrap
		max-width 1220px
		margin 0 auto 40px auto
		+below(800px)
			flex-flow column
		.field
			flex 1 0 23%
			padding 10px
			+below(980px)
				flex 1 0 50%
			input
				width 100%	
			.select
				min-height 68px
			.select
			.form_input-solid
				padding-right 45px
			&.success
				position relative
				input
					&:-webkit-autofill
						-webkit-text-fill-color grass
						-webkit-box-shadow 0 0 0px 1000px white-two inset
						transition background-color 5000s ease-in-out 0s
				.form_input-solid
				.select2-container
				.select
					border-bottom 1px solid grass
					color grass
				&:after
					content ''
					background-image url('../img/checked.svg')
					background-repeat no-repeat
					width 16px
					height 12px
					position absolute
					right 35px
					bottom 50%
					display block
					transform translate(0, -45%)
					background-position center
					background-size 16px 12px
					pointer-events none
			&.error
				position relative
				input
					&:-webkit-autofill
						-webkit-text-fill-color dark-coral
						-webkit-box-shadow 0 0 0px 1000px white-two inset
						transition background-color 5000s ease-in-out 0s
				.form_input-solid
				.select2-container
				.select
					border-bottom 1px solid dark-coral
					color dark-coral
				&:after
					content ''
					background-image url('../img/error.svg')
					background-repeat no-repeat
					width 12px
					height 12px
					position absolute
					right 35px
					bottom 50%
					display block
					transform translate(0, -45%)
					background-position center
					background-size 12px 12px
					pointer-events none

		input[type=submit]
			flex 1 0 100%
			margin 0 auto
			line-height 2
			+below(800px)
				width 100%
				max-width 100%
			
	.txt
		font-weight 100
		font-size 24px
		font-stretch normal
		line-height normal
		letter-spacing -0.72px
		color dark-navy
		.link
			color grass
			font-style italic
			font-weight 100
			&:hover
				text-decoration underline
	.select2
		width 100% !important


@import 'components/msg-form'