.venajas_credito
	margin-bottom 120px
	padding 20px
	+below(480px)
		margin-bottom 40px
	.section_title-blue
		margin-bottom 0
	.content
		clearfix()
		text-align center
		width 100%
		max-width 1290px
		margin 70px auto 0
		+below(760px)
			margin 10px auto 0
		
		.title
			font-size 25px
			font-weight bold
			margin-bottom 50px
			letter-spacing 3.75px
			font-variant-ligatures none
		
		.left
		.midd
		.right
			column(1/3)
			background rgba(red,.2)
			padding 70px 20px 20px
			+below(760px)
				stack()
			+below(480px)
				padding 30px 20px 20px
		.left
		.right
			min-height 450px
			+below(760px)
				min-height auto
		.midd
			min-height 640px
			+below(760px)
				min-height auto
		.left
		.mid
			+below(760px)
				margin-bottom 20px
		.card_list
			
			&-green
				box-shadow 0 53px 53px 0 rgba(0, 0, 0, 0.1)
				background-color dark-slate-blue
				color white

			&-white
				box-shadow 0 13px 13px 0 rgba(0, 0, 0, 0.05)
				background-color rgba(255, 255, 255, 0)
				color dark-navy
				
		.list
			padding 0 15%
			+below(760px)
				padding 0 9%

			.list_item
				margin-bottom 20px
				text-align left
				font-size 23px
				font-weight 200
				letter-spacing normal
				line-height normal
				position relative

				&:before
					content ""
					width 10px
					height 10px
					display block
					position absolute
					border-radius 50%
					left -20px
					top 8px
			&-white
				.list_item	
					&:before
						background dark-slate-blue
			&-green
				.list_item	
					&:before
						background grass
			